* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    outline: none;
    
  }
  
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #393f47f8;
    color: white;
    background-image: url(pad.jpeg.jpg);
    
    background-repeat:round;
  }
  
  main {
    max-width: 570px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #362b2b, #808080);
    border: solid 5px;
    border-radius: 5px ;
    box-shadow: 2px 2px 2px 3px;
    background-color: #1f202549;
  }
  
  .resume {
    display: flex;
    padding: 10px 0;
    gap: 40px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }

  #red{
    box-shadow:  #D83121;
    
  }
  #entrada{
    box-shadow: 1px 1px 5px 1px #1f7c1f;
    padding: 15px;
    border-radius: 10px;
  }
  #total{
    box-shadow: 1px 1px 5px 1px #071cd8;
    padding: 15px;
    border-radius: 10px;
  }
  
  .resume > #red {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px  #ff0000;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
  }
  
  .newItem {
    display: flex;
    gap: 10px;
    align-items: end;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .divDesc, .divType, .divAmount {
    display: flex;
    flex-direction: column;
  }
  
  .newItem > button {
    background-color: #071cd8;
    color: white;
    border: none;
    padding: 0 15px;
    border-radius: 15px;
    cursor: pointer;
    height: 34px;
  }
  button:hover{
    color: #071cd8;
    background-color: white;
    border: solid #071cd8 2px;
    box-shadow: 1px 1px 5px 1px #071cd8;
    
  }
  
  input, select {
    padding: 5px;
  }
  
  .divTable {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  table {
    width: 98%;
    padding: 20px 0;
    border-radius: 5px;
  }
  
  th {
    text-align: start;
    border-bottom: inset;
    padding-bottom: 5px;
  }
  
  i {
    font-size: 25px;
  }
  
  .bxs-chevron-up-circle {
    color: green;
  }
  
  .bxs-chevron-down-circle {
    color: #f00000;
  }
  
  .columnAction {
    width: 40px;
    text-align: center;
    
  }
  .columnAction:hover{
    background-color: #f00000;
  }
  
  .columnAction > button {
    background: transparent;
    border: none;

  }
  
  .columnAmount {
    width: 30%;
  }
  
  .columnType {
    width: 80px;
    text-align: center;
  }